<div class="support-container full-fixed-width">
    <ul class="menu">
        <li [class.selected]="menuSelection == 'data'" (click)="selectTopic('data')"><div class="title">Data &amp; Implementation</div><i class="fa fa-sort-asc fa-rotate-90"></i></li>
       <li [class.selected]="menuSelection == 'structure'" (click)="selectTopic('structure')"><div class="title">Hybrid Structure</div><i class="fa fa-sort-asc fa-rotate-90"></i></li>
       <li [class.selected]="menuSelection == 'scene'" (click)="selectTopic('scene')"><div class="title">Scene</div><i class="fa fa-sort-asc fa-rotate-90"></i></li>
       <li [class.selected]="menuSelection == 'annotation'" (click)="selectTopic('annotation')"><div class="title">Annotation</div><i class="fa fa-sort-asc fa-rotate-90"></i></li>
       <li [class.selected]="menuSelection == 'parameter'" (click)="selectTopic('parameter')"><div class="title">Parameter</div><i class="fa fa-sort-asc fa-rotate-90"></i></li>
       <li [class.selected]="menuSelection == 'trigger'" (click)="selectTopic('trigger')"><div class="title">Trigger</div><i class="fa fa-sort-asc fa-rotate-90"></i></li>    
    </ul><!-- no whitespace
 --><div class="contents text-container">
       <div *ngIf="menuSelection == 'data'">
            <div class="section">
                <h2>Data source</h2>
                <p>
                    I used occupation tables at <a href="https://www.bls.gov/emp/">US Employment Projection</a>
                    The original data tables are cleaned (such as removing null, filtered unrelevant rows) 
                    and joined (for example, joining fast growing jobs table with occupation characteristic table
                    to produce education requirement for the fast growing jobs), in order to build charts (scatter
                    plots and bar charts) in this narrative visualization.
                </p>
                <h2>Implementation</h2>
                <p>
                    The application is built with Angular2 web framework. All interactive visualizations are implemented
                    using D3. The source code of this project can be found at <a href="https://github.com/xialiao/xialiao.github.io/">Github</a>.
                </p>
            </div>
        </div>
        <div *ngIf="menuSelection == 'structure'">
            <div class="section">
                <h1>Interactive Slideshow</h1>
                <p>
                    The employment projections visualization mixes author lead and reader lead slideshow. 
                    By default, the slides are rotated automatically, with one slide being displayed for 
                    20 seconds before the next one comes up. User can hover mouse over on a slide to 
                    pause the slide. He can also use slideshow control to get to a chosen slide.
                </p>
                
                <h2>User Interaction</h2>
                <p>
                    User can hover mouse over on a dot in the scatter plot to show a tooltip. Content of 
                    a tooltip consists job name, employment number and percent changes between 2014 and
                    2024 projection. User can also click on the dot to view bar chart about the individual 
                    occupation employment number in 2014 vs. the projection in 2024, along with its 
                    education requirement, experience an salary information.
                </p>
                
                <h2>Slideshow control</h2>
                <p>
                    The slideshow is controlled by two white arrow icons in the middle of a slide.
                </p>
                
                <ul>
            	        <li>
            	           Clicking on left arrow icon directs user to the previous slide.
                	    </li>
                	    <li>
	                       Clicking on the right arrow icon directs user to the next slide.
            	        </li>
                </ul>

	            <h2>Slide indicator</h2>
	            <p>
	                The five circles at the bottom of a slide tell user there are 5 slides
	                in total. The white filled circle indicates currently active slide.
	            </p>
	            
	            <h2>Slide caption</h2>
	            <p>
	                Under the slide indicator circles lies slide caption, which provides 
	                the main idea of the current slide. 
	            </p>
            </div>
        </div>
        <div *ngIf="menuSelection == 'scene'">
            <div class="section">
                <h1>Five scenes</h1>
                <ol>
            	   <li>
            	       Overview of occupational employment projection, 2014-2024 with 800+ occupations
                   </li>
                   <li>
	                   Fastest growing occupations, 2014-24
            	   </li>
            	   <li>
            	       Occupations with the most job growth, 2014-2024
            	   </li>
            	   <li>
            	       Fasted declining occupations, 2014-2024
            	   </li>
            	   <li>
            	       Occupations with the largest jon declines, 2014-2024
            	   </li>
                </ol>
                <h2>Template design, layout and structure</h2>
                <p>
                    Each of the five scene follows same template: scatter plot on the left panel;
                    bar chart and occupation details on the right panel, when a dot on the scatter 
                    plot is clicked. The scatter plot uses blue color to indicate growing occupation,
                    red color to indicate declining occupation. Color squares are showed in legend. 
                    The bar chart uses yellow color for 2014 employment bar and green color for 2024
                    employment bar. On the top of the bars, employment number will be displayed. An 
                    underlined label on the top shows the occupation name. At the bottom of bar chart, 
                    detailed information about the occupation such as median salary, education requirement 
                    and experience level is displayed.
                </p>
            </div>
        </div>
        <div *ngIf="menuSelection == 'annotation'">
            <div class="section">
                <h1>Annotation template</h1>
                <p>
                    Each scatter plot has annotation(s). The annation follows same template design, using 
                    a short text and dotted line with arrowhead pointing to area where interesting occupations 
                    are located. The short text usually draws a conclusion from current data visualization.
                </p>
                <h2>Highlights and changes of annotation</h2>
                <p>
                    Annotation is cleared between each scene when slide turns, because each scene presents
                    different perspective of employment projection. For example, scene one is overall occupation 
                    projections. It includes both growing and declining occupations, so there are two annotations,
                    with one being the fastest growing two major sector jobs, the other being fastest declining 
                    jobs. They both highlight the overall occupation project data; scene two is about top 25 
                    fastest growing occupations so annotation about fastest declining job in scene one is no 
                    longer applied and cleared. However, more interesting observation can be made in scene two 
                    data, which is about education requirement for those fastest growing jobs, so a new annotation 
                    based on this observation is displayed.
                </p>
            </div>
        </div>
        <div *ngIf="menuSelection == 'parameter'">
            <div class="section">
                <h1>Major parameters</h1>
                <p>There are two major parameters used in the visualization.</p>
                <h2>Slides</h2>
                <p>
                    Slide indicator shows five slides in the visualization. When slide indicator changes, scene 
                    changes accordingly.
                </p>
	            <h2>Dots in scatter plot</h2>
	            <p>
	               Each dot in scatter plot on the left panel represents an occupation. When user clicks on a dot, 
	               it changes occupatin, which will display bar chart and details relevant to the occupation 
	               in right panel. When mouse hovers on a dot, a tooltip with the job information will also be 
	               displayed.
	            </p>
            </div>
        </div>
        <div *ngIf="menuSelection == 'trigger'">
            <div class="section">
                <h1>Major triggers</h1>
                <p>There are two major types of triggers that connect different slides and charts.</p>
                <h2>Slide control triggers</h2>
                <p>
                   When mouse hovers on a slide, it triggers slideshow pause on current slide. When user clicks
                   on one of slide control arrows, it will show either previous or next slide.
                </p>
                
                <h2>Scatter plot triggers</h2>
                <p>
                   When mouse hovers on a dot, it triggers a tooltip showing information about the occupation. 
                   When user clicks on a dot, it will bar chart and details of the occupation.
                </p>
            </div>
        </div>
    </div>
</div>

