<div class="nav-container">
    <div class="full-fixed-width">
        <nav>
            <div class="nav-home" routerLinkActive="selected"><a [routerLink]="['/home']">US Employment Projection 2014-2024</a></div>
            <!--
            <div class="nav-space"></div>
            <div class="nav-main-item" routerLinkActive="selected"><a [routerLink]="['/occupations']">All</a></div>
            <div class="nav-space"></div>
            <div class="nav-space"></div>
            <div class="nav-main-item" routerLinkActive="selected"><a [routerLink]="['/fastgrow']">Fastest Growing Jobs</a></div>
            <div class="nav-space"></div>
            <div class="nav-space"></div>
            <div class="nav-main-item" routerLinkActive="selected"><a [routerLink]="['/mostgrow']">Most Growth</a></div>
            <div class="nav-space"></div>
            <div class="nav-space"></div>
            -->
            <div class="nav-about" routerLinkActive="selected"><a [routerLink]="['/about']">About</a></div>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>