<carousel [interval]="100000" [noPause]="false">
  <slide>
    <occupations></occupations>
    <div class="caption">
      <h3>Occupational employment projection</h3>
    </div>
  </slide>
  <slide>
    <fastgrow></fastgrow>
    <div class="caption">
        <h3>Fastest growing occupations</h3>
    </div>
  </slide>
  <slide>
    <mostgrow></mostgrow>
    <div class="caption">
        <h3>Occupations with the most job growth</h3>
     </div>
  </slide>
  <slide>
    <fastdecline></fastdecline>
    <div class="caption">
        <h3>Fastest declining occupations</h3>
    </div>
  </slide>
  <slide>
    <mostdecline></mostdecline>
    <div class="caption">
        <h3>Occupations with the most job decline</h3>
    </div>
  </slide>
</carousel>