.caption{
    padding-top: 20px;
    text-align: center;
}

.instruction {
    margin-top: 10px;
    margin-left: 300px;
	font-family: Lato;
	font-size: 16px;
	line-height: 17px;
	background-color: #F3D368;
	width: 700px;
	padding-top: 5px;
	text-align: center;
	height: 36px;
	color: #4A4A4A;
}